media/
proect_info_progra_app/proect_info_progra/__pycache__/
proect_info_progra_app/proect_info_progra_app/__pycache__/
proect_info_progra_app/proect_info_progra_app/migrations/__pycache__/
proect_info_progra_app/db.sqlite3
proect_info_progra_app/proect_info_progra/





