{% load static %}
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src={%static 'img/generated-image-top.jpeg' %} width="30" height="30" class="d-inline-block align-top"alt="not found" loading="lazy"></img>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown"
            aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarWithDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=''></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'index' %}>Главная</a>
                </li>
                {% comment %} {%if flag_auth %}

                {%else%}
                    <li class="nav-item">
                        {% if username %}
                        <a class="nav-link" href={% url 'forum' %}>Общаться</a>
                        {% else %}
                        <a class="nav-link" href={% url 'auth' %}>Общаться</a>
                        {% endif %}
                    </li>
                {%endif%} {% endcomment %}

                {%if flag_interesting%}
                    <li class="nav-item dropdown bg-dark">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Самое интересное</a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <!-- <li><a class="dropdown-item text-white" href={% url 'interesting' %}>Интересное</a></li> -->
                            <li><a class="dropdown-item text-white" href={% url 'history-web' %}>История создания сайта и его идея</a></li>
                            <li><a class="dropdown-item text-white" href={% url 'onas' %}>О Разроботчиках</a></li>
                        </ul>
                    </li>

                {%elif flag_history_web%}
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">История создания сайта и его идея</a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-white" href={% url 'interesting' %}>Самое интересное</a></li>
                        <!-- <li><a class="dropdown-item text-white" href={% url 'history-web' %}>История создания и идея
                            сайта</a></li> -->
                        <li><a class="dropdown-item text-white" href={% url 'onas' %}>О разработчиках</a></li>
                    </ul>
                </li>

                {%elif flag_onas%}
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">О разработчиках</a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-white" href={% url 'interesting' %}>Самое интересное</a></li>
                        <li><a class="dropdown-item text-white" href={% url 'history-web' %}>История создания сайта и его идея</a></li>
                        <!-- <li><a class="dropdown-item text-white" href={% url 'onas' %}>О разработчиках</a></li> -->
                    </ul>
                </li>
                {%else%}
                <li class="nav-item dropdown bg-dark">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Интересное</a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-white" href={% url 'interesting' %}>Самое интересное</a></li>
                        <li><a class="dropdown-item text-white" href={% url 'history-web' %}>История создания сайта и его идея</a></li>
                        <li><a class="dropdown-item text-white" href={% url 'onas' %}>О разработчиках</a></li>
                    </ul>
                </li>
                {%endif%}
                {%if username %}              
                    {%if flag_auth%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bg-dark" href='' data-bs-toggle="dropdown">Темы</a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item text-white " id='logout-link' href={% url 'forum' 'all' %}>Все</a></li>
                            <li><a class="dropdown-item text-white " id='logout-link' href={% url 'forum' 'politics' %}>Политика</a></li>
                            <li><a class="dropdown-item text-white " id='logout-link' href={% url 'forum' 'personal' %}>Личное</a></li>
                            <li><a class="dropdown-item text-white " id='logout-link' href={% url 'forum' 'animals' %}>Животные</a></li>
                            <li><a class="dropdown-item text-white " id='logout-link' href={% url 'forum' 'game' %}>Игры</a></li>
                        </ul>
                    </li>                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bg-dark" href='' data-bs-toggle="dropdown">{{username}}</a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item">
                                <button type="button" class="btn btn-dark text-white " data-bs-toggle="modal" data-bs-target="#account"
                                    data-bs-whatever="@mdo">В аккаунт</button>
                            </li>
                            <li><a class="dropdown-item text-white " id='logout-link' href={%url 'logout' %}>Антисоздаться</a></li>
                        </ul>
                    </li>
                    {%else%}
                    <a class="nav-link" href={% url 'forum' 'all' %}>Общаться</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bg-dark" href='' data-bs-toggle="dropdown">{{username}}</a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item">
                                <button type="button" class="btn btn-dark text-white " data-bs-toggle="modal" data-bs-target="#account"
                                    data-bs-whatever="@mdo">В аккаунт</button>    
                            </li>
                            <li><a class="dropdown-item text-white " id='logout-link' href={%url 'logout' %}>Антисоздаться</a></li>
                        </ul>
                    </li>
                    {%endif%}
                {%else%}
                <li class="nav-item">
                    <button type="button" class="btn btn-dark text-secondary " data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="@mdo">Общаться</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-dark text-secondary " data-bs-toggle="modal" data-bs-target="#exampleModal1"
                        data-bs-whatever="@mdo">Создаться</button>
                </li>
                {%endif%}   
                {% comment %} {%if flag_reg%}

                {%else%}
                <li class="nav-item dropdown">
                    {%if username %}
                    <li class="nav-item dropdown">
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item text-white " id='logout-link' href={%url 'account' %}>В аккаунт</a></li>
                            <li><a class="dropdown-item text-white " id='logout-link' href={%url 'logout' %}>Антисоздаться</a></li>
                        </ul>
                    </li>
                    {%else%}
                    <a class="nav-link" href={% url 'reg' %} tabindex="-1" aria-disabled="true">Создаться</a>
                    {%endif%}
                </li>
                {%endif%} {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Демо-версия</a>
                </li>
            </ul>
        </div>
    </div>
</nav>