{% extends 'base.html' %}
{% load static %}

{% block title %}Общаться{% endblock %}

{% block css %}
<!-- Связывание с CSS файлом -->
<link rel='icon' href={%static 'img/faicon.png' %}></link>
<link rel="stylesheet" href={%static 'style/auth.css' %}></link>
{% endblock %}

{% block content %}
{% csrf_token %}
    <div class="container text-white " id="auth">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <main class="row justify-content-center">
                    <h2 class="row justify-content-center" id='obsh'>ОБЩАТЬСЯ</h2>
                    <div class="card text-white">
                        <label for='nickname' class='form-label' id='nickname-label'>Введите свой ник <a id='reg-link' href="{%url 'account'%}">или нажмите сюда, если забыли его</a></label>
                        <input type="text" class='form-control ' id='nickname' value='Fantom'>
                        <label for='password' class='form-label' id='password-label'>Введите свой пароль <a id='reg-link' href="{%url 'account'%}">или нажмите сюда, если забыли его</a></label>
                        <input type="password" class='form-control ' id='password' value='111fefefefef'>
                        <input type="button" class='btn btn-dark' id='auth-btn' value='Общаться'>
                        <p>Ещё не создались ? Тогда-<a id='reg-link' href="{%url 'reg'%}">создаться</a></p>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src={% static 'js/auth.js' %}></script>
{% endblock %}