{% extends 'base.html' %}
{% load static %}

{% block title %}Fancom{% endblock %}
{% block css %}
<!-- Связывание с CSS файлом -->
<link rel="stylesheet" href={%static 'style/forum.css' %}>
<link rel="stylesheet" href={%static 'style/forum-template.css' %}>
{% endblock %}
{% block content %}
{% csrf_token %}
<main class='container' id='topic'>
    <h2 class='type_title'>{{type_name}}</h2>   
    {%for topic in topic_list%}
    <div class="row d-flex justify-content-center">
        <div class="card_forum">
            <div class="card-body topic-card" onClick="window.location='/forum/topic/{{topic.id}}'">
                <h2 class="card-title">{{topic.topic_title}} <span class='text-secondary category'>#{{topic.get_themes_type_display}}</span></h2>
                <div class='row justify-content-start flex icon_forum distance'>
                    <p class='d-flex distance'><img class='topic-margin forum-img'  src={%static 'img/eyes.png' %} id="eyes"> <span>{{topic.topic_views}}</span> <img class='topic-margin forum-img' src={%static 'img/watch.png' %} id="watch"> <span class='topic-date' data-timestamp='{{topic.topic_date|date:"c" }}'>{{topic.topic_date|date:"d.m.Y H:i:s"}}</span></p>
                </div>
                <p class="card-text">{{ topic.topic_topic|linebreaks }}</p>
                <div class='row justify-content-start flex icon_forum distance'>
                    <p class='d-flex distance'><img class='topic-margin forum-img' alt="Комментарии иконки от HideMaru - Flaticon" src={%static 'img/comment-white.png' %} id="comment">
                        <span id="comments_count">{{topic.comments_count}}</span>
                </div>

                {% comment %} <a href="/forum/topic/{{topic.id}}" class="btn btn-primary">Прочитать</a> {% endcomment %}
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
{% block js %}
<script src={% static 'js/date.js' %}></script>
{% endblock %}