{% extends 'base.html' %}
{% load static %}

{% block title %}Создаться{% endblock %}
{% block css %}
<!-- Связывание с CSS файлом -->
<link rel='icon' href={%static 'img/faicon.png' %}></link>
<link rel="stylesheet" href={%static 'style/reg.css' %}></link>
{% endblock %}
{% block content %}
{% csrf_token %}
        <div class="container text-white" id="reg">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <main class="row justify-content-center">
                        <h2 class="row justify-content-center" id='obsh'>Создаться</h2>
                        <div class="card text-white">
                            <label for='nickname' class='form-label' id='email-label'>Введите почту</label>
                            <input type="email" class='form-control ' id='email' value='Fantom@yandex.ru'>
                            <label for='nickname' class='form-label' id='cod-email-label'>Введите код с полученого сообщения</label>
                            <input type="text" class='form-control ' id='cod-email' value='Fantom'>
                            <label for='nickname' class='form-label' id='nickname-label'>Придумайте ник</label>
                            <input type="text" class='form-control ' id='nickname' value='Fantom'>
                            <label for='password' class='form-label' id='password-label'>Придумайте пароль</label>
                            <input type="password" class='form-control ' id='password' value='111fefefefef'>
                            <label for='password' class='form-label' id='password-proverka-label'>Повторите пароль</label>
                            <input type="password" class='form-control ' id='password-proverka' value='111fefefefef'>
                            <input type="button" class='btn btn-dark' id='reg-btn' value='Создаться'>
                            <p>Уже созданы? Тогда-<a id='reg-link' href="{%url 'auth'%}">общаться</a></p>
                        </div>
                    </main>
                </div>
            </div>
{% endblock %}
{% block js %}
<script src={% static 'js/reg.js' %}></script>
{% endblock %}