{% extends 'base.html' %}
{% load static %}

{% block title %}Fancom{% endblock %}
{% block css %}
<!-- Связывание с CSS файлом -->
<link rel='icon' href={%static 'img/faicon.png' %}>
</link>
<link rel="stylesheet" href={% static 'style/topic.css' %}></link>
<link rel="stylesheet" href={%static 'style/forum-template.css' %}>
{% endblock %}
{% block content %}
<main class="container" id="topic">
    <div class="row d-flex justify-content-center">
        <div class="col-8 article" id="article-topic">
            <div class="card-body topic-card">
                <h5 class="card-title" id="topic-title">{{ topic.topic_title }} <span class='text-secondary category'>#{{topic.get_themes_type_display}}</span></h5>
                <div class='row justify-content-start flex icon_forum'>
                    <p id="distance" class='d-flex'><img class='topic-margin forum-img' src={%static 'img/eyes.png' %} id="eyes">
                        <span>{{topic.topic_views}}</span> <img class='topic-margin forum-img' src={%static 'img/watch.png' %} id="watch"> <span class='topic-date' data-timestamp='{{topic.topic_date|date:"c" }}'>{{topic.topic_date|date:"d.m.Y H:i:s"}}</span></p>
                </div>
            </div>
            <div id="topic_text">{{ topic.topic_topic|linebreaks }}</div>
            <div class="row d-flex justify-content-center">
                {% if topic.topic_image.url %}
                <img src={{ topic.topic_image.url }} alt={{ topic.topic_title }} id="topic-image">
                {% endif %}
            </div>
        </div>
    </div>
</main>

<main class="container" id="comment-container">
    <div class="row d-flex justify-content-center">
        <div class="col-8 text-white article" id="article-comment">
            <div class="card-body topic-card">
                <h5 id='title-comment'>Коментарии <input type="button" class="btn btn-dark text-white" id="btn-write-comment" value="Написать коментарий"></input></h5>
            </div>
            {% for comment in comments %}
            <div class="comment">
                <div class=' comment-header'>
                    {% if comment.user == user %}
                    <div class="date-author">@{{ comment.user.username }}<span class='topic-date' data-timestamp='{{comment.created|date:"c" }}'>{{comment.created|date:"d.m.Y H:i:s"}}</span></div>
                    {%else%}
                    <div class="date-author">@{{ comment.user.username }} <span class='topic-date' data-timestamp='{{comment.created|date:"c" }}'>{{comment.created|date:"d.m.Y H:i:s"}}</span></div>
                    {%endif%}
                    {% if comment.user == user %}
                    <input type="button" class="btn btn-dark text-white btn-delete-comment" value="Удалить"
                        data-comment-id="{{ comment.id }}"></input>
                    {% endif %}
                </div>
                <div class="comment-text">
                    {{ comment.text }}
                </div>
                <div>
                    {% for answer in answers_comments %}
                    <div class="comment">
                        <div class=' comment-header'>
                            {% if answer.user == user %}
                            <div class="date-author">@{{ answer.user.username }}<span class='topic-date' data-timestamp='{{comment.created|date:"c" }}'>{{answer.created|date:"d.m.Y H:i:s"}}</span></div>
                            {%else%}
                            <div class="date-author">@{{ answer.user.username }} <span class='topic-date' data-timestamp='{{comment.created|date:"c" }}'>{{answer.created|date:"d.m.Y H:i:s"}}</span></div>
                            {%endif%}
                            {% if answer.user == user %}
                            <input type="button" class="btn btn-dark text-white btn-delete-comment" value="Удалить"
                                data-answer-comment-id="{{ answer.id }}"></input>
                            {% endif %}
                        </div>
                        <div class="comment-text">
                            {{ answer.text }}
                        </div>
                    </div>
                    <div>
                        <input type="button" class="btn btn-dark text-white btn-answer-comment" value="Ответить"></input>
                    </div>
                    {% empty %}
                    <div>
                        <h6 id="no-comment">Здесь пока нет ответов</h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <input type="button" class="btn btn-dark text-white btn-answer-comment" value="Ответить"></input>
            </div>
            {% empty %}
            <div>
                <h6 id="no-comment">Здесь пока нет комментариев</h6>
            </div>
            {% endfor %}
            
            {% csrf_token %}
            <div class="input-comment input-create" id='input-create'>
                <div>
                    <textarea class="text-dark" placeholder="Напишите здесь свой комментарий" id="comment-creating-area" rows="1"></textarea>
                </div>
                <div>
                    <input type="button" class="btn-submit-comment" id="btn-create-comment" value="Добавить">
                </div>
            </div>
            <div class="input-comment input-answer" id='input-answer'>
                <div>
                    <textarea class="text-dark" placeholder="Напишите здесь свой ответ" id="comment-answering-area" rows="1"></textarea>
                </div>
                <div>
                    <input type="button" class="btn-submit-comment" id="btn-answering-comment" value="Ответить">
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
{% block js %}
<script src={% static 'js/topic.js' %}></script>
<script src={% static 'js/date.js' %}></script>
<script src={% static 'js/comment-answering.js' %}></script>
<script src={% static 'js/comment-creating.js' %}></script>
<script src={% static 'js/comments-appearing.js' %}></script>
<script src={% static 'js/date.js' %}></script>
<script src={% static 'js/comment-deleting.js' %}></script>
<!-- Код для создания абзацев -->
<!-- <script src={% static 'js/slice-text.js' %}></script> -->
{% endblock %}