{% extends 'base.html' %}
{% load static %}

{% block title %}Топик{% endblock %}
{% block css %}
<!-- Связывание с CSS файлом -->
<link rel='icon' href={%static 'img/faicon.png' %}>
</link>
<link rel="stylesheet" href={% static 'style/topic.css' %}></link>
{% endblock %}
{% block content %}
<main class="container" id="topic">
    <div class="row d-flex justify-content-center">
        <div class="col-8" id="article">
            <div>
                <div id="topic-title">{{ topic.topic_title }}</div>
                <p id="distance"><img src={%static 'img/eyes.png' %} id="eyes">{{topic.topic_views}}<img
                        src={%static 'img/watch.png' %} id="watch">{{topic.topic_date}}</p>
            </div>
            <div id="topic_text">{{ topic.topic_topic|linebreaks }}</div>
            <div class="row d-flex justify-content-center">
                {% if topic.topic_image.url %}
                <img src={{ topic.topic_image.url }} alt={{ topic.topic_title }} id="topic-image">
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block js %}
<script src={% static 'js/topic.js' %}></script>

<!-- Код для создания абзацев -->
<!-- <script src={% static 'js/slice-text.js' %}></script> -->
{% endblock %}