.account {
    margin-top: 2.5rem;
}
.auth{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 20rem;
    align-items: center;

}
#auth {
    border-radius: 12px;
    /* border-color: rgb(241, 239, 230); */
    border-style: solid;
    padding: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background-color: rgb(34, 40, 49);
}
#pole{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 20rem;
    align-items: center;
    background-color: black;    
}
#nav-login{
    background-color: black;
}
#obsh{
    align-items: center;
}
p { color: #ffffff; }
#password-label{
    margin-top: 1rem;
}

#save-button:hover{
    text-decoration:underline
}

#save-button:active{
    color:coral
}

#save-button{
    color:rgb(255, 255, 255);
    text-decoration:none;
}

@media screen and (max-width: 600px) {
    header {
        height: 15rem;
    }
    interesting-text{

    }
    interesting-title{
        
    }
}
label {
    margin-top: 0.5rem;
}

h1 {
    text-align: center;
}