
.card{
    border-radius: 0%;
    /* border-color: rgb(241, 239, 230); */
    border-style: solid;
    padding: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background-color: rgb(34, 40, 49);
}

#nav-login{
    background-color: black;
}
#obsh{
    align-items: center;
}
p { color: #ffffff; }
#password-label{
    margin-top: 1rem;
}

#reg-link:hover{
    text-decoration:underline
}

#reg-link:active{
    color:coral
}

#reg-link{
    color:rgb(255, 255, 255);
    text-decoration:none;
}

@media screen and (max-width: 600px) {
    header {
        height: 15rem;
    }
    interesting-text{

    }
    interesting-title{
        
    }
}
