.feedback {
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0) 75%);
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
}

#email {
  padding: 2%;
}

#submit {
	margin-top: 3%;
  padding: 2%;
  background-color: rgb(0, 26, 255);
  border-color: rgb(0, 26, 255);
  cursor: pointer;
}