.topic-margin{
    margin-top: 5px;
}
.category {
    font-size: 0.8rem;
}
span{
    margin-top: 3px;
    margin-left: 4px;
}
#watch {
    margin-left: 1rem;
}
p {
    color: #F1F5F9;
}
.distance {
    color: #F1F5F9;
    margin-bottom: 0px;
}
.forum-img{
    color: #F1F5F9;
    margin-right: 4px;
    height: 1.3rem;
    width: 1.3rem;
}