body {
    background-color: #0F172A
}
.topic-card:hover{
    cursor: pointer;
}
.card{
    border-radius: 12px;
    /* border-color: rgb(241, 239, 230); */
    border-style: solid;
    padding: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background-color: #1E293B;
}
.card-title{
    color: #F1F5F9;
}
p {
    color: #F1F5F9;
}
#eyes{
    color: #F1F5F9;
    height: 1rem;
    margin-right: 4px;
    width: 1rem;
}

#watch{
    color: #F1F5F9;
    margin-left: 1rem;
    margin-right: 4px;
    height: 1rem;
    width: 1rem;
}
.card{
    margin: 1rem;
}