#interesting {
  background-color: #000000;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
}

.interesting {
  margin: 4%;
  color: #ffffff;
}

.title-main{
    color: #ffffff;
}

.interesting-title {
  color: #ffffff;
}

.interesting-text {
  margin-bottom: 4%;
  color: #ffffff;
}

.interesting-icon {
  width: 25%;
  height: 25%;
  fill: black;
  margin: 6%;
}
