#topic {
    margin-top: 1rem;    
}

#eyes{
    height: 1rem;
    width: 1rem;
}
#watch{
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
}
#distance{
    margin-top: 4px;
}
#article{
    border-radius: 12px;
    border-color: rgb(238, 238, 238);
    border-style: solid;
    padding: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}
#topic-title {
    font-size: 2rem;
}

#topic-image {
    width: 350px;
    height: 200px;
}
#topic-topic {
    margin-bottom: 1rem;
}
#topic-image{
    margin-top: 1rem;
}
